@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --cor0:#5E7348;
    --cor1:#4B5C39;
    --cor2:#7D8E6B;
    --cor2:#7D7F83;
    --cor3:#7D7F83;
    --cor4:#2D2D2D;
    --cor5:#000000;
    --cor6:#fff;

    --font-destaque: "Red Hat Display", sans-serif;
    --font-padrão: Arial, Verdana, Helvetica, sans-serif;
}

body{
    color: var(--cor6);
    background-color: var(--cor1);
    width: 100%;
    height: 100vh;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    width: 100%;
    transition: all 0.5s;
    position: sticky;
}

.navigation a img{
    max-width: 100px;
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a{
    color: var(--cor6);
    font-size: 17px;
    font-weight: 800;
    transition: all 0.5s;
}

.navigation ul li a:hover{
    color: var(--cor1);
}

.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--cor3);
    margin: 5px auto;
    transition: all 0.3s;
}

div.home-img{
    display: flex;
    width: 100%;
    height: 18vh;
    margin: 9%;
    padding: 10px;
}

video{
    max-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}